{% extends 'base.html' %}
{% block title %} Поезд {% endblock %}

{% block content %}
<h1>Поезд</h1>
<div class="row">
    <div class="col-md">
        <table class="table table-striped">
            <tr>
                <th>Номер</th>
                <th>Откуда</th>
                <th>Куда</th>
                <th>Время в пути</th>
            </tr>
            <tr>
                <td>{{object.from_city}}</td>
                <td>{{object.to_city}}</td>
                <td>{{object.travel_time}}</td>
                {% if user.is_authenticated%}
                <td>
                    <a href="{% url 'trains:update' pk=object.pk%}">
                        <button type="submit" class="btn btn-primary">Редактировать</button>
                    </a></td>
                <td>
                    <a href="{% url 'trains:delete' pk=object.pk%}">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </a>
                </td>
                {% else %}
                {% endif %}
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md">
        <a href="{% url 'trains:home' %}">
            <button type="button" class="btn btn light">Назад к основному списку</button>
        </a>
    </div>
</div>
{% endblock %}